<ng-container *ngIf="isLoggedIn">
  <mat-toolbar>
    <span>University Housing Portal</span>
    <div class="headerRight">
      <ng-container *ngIf="isLoggedIn">
        <div class="nameBadge">
          <span>Welcome, {{ firstName }} {{ lastName }}!</span>
        </div>
      </ng-container>
    </div>
  </mat-toolbar>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer [bannerId]="bannerId"></app-footer>
</ng-container>
<ng-container *ngIf="!isLoggedIn">
  <mat-toolbar>
    <span>Appalachian State University Housing</span>
  </mat-toolbar>
  <div class="loginForm">
    <div class="loginBox">
      <h2>Please Login</h2>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Banner ID" [(ngModel)]="bannerId" name="bannerId" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Done</button>
      </form>
    </div>
  </div>
</ng-container>
